* {
    font-family: Arial, Helvetica, sans-serif;
}



body {
    background-color: #1d1d1d;
    overflow: hidden;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}



.game {
    position: relative;
    #chessboard {
        max-width: min-content;
        height: 70vh;
        aspect-ratio: 1/1;
        border-radius: 15px;
    }
    .restartgame-popup-btn {
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 35px;
        height: 35px;
        /* border: 2px solid rgb(127, 240, 127); */
        border: none;
        border-radius: 0px 0px 10px 10px;
        background-color: #2e2e2e;
        color: white;
        transition: 0.3s;
        font-size: 16px;
        
        &:hover {
            /* background-color: #1d1d1d; */
            /* box-shadow: 0px 0px 25px 0px rgba(127, 240, 127, 0.5); */
            box-shadow: 0px 0px 10px 0px black;
            background-color: #2e2e2e;
            cursor: pointer;
            z-index: 1;
        }
    }
}


        


h1 {
    margin: 0;
}

.background {
    position: fixed;

}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0px);

    position: fixed;
    transition: 0.3s;

    .window {
        transform: translateY(50px);
        opacity: 0;
        position: relative;
        width: 250px;
        height: 150px;
        background-color: #2e2e2e;
        border-radius: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 50px 10px black;

        transition: 0.3s;

        h1 {
            transition: 0.3s;
            span {
                display: none;
            }
            &:hover{
                text-shadow: 0px 0px 30px white;
                cursor: default;
            }
        }
        .buttons {
            top: 0;
            right: 0;
            position: absolute;

            .restartgame-popup-btn {
                width: 35px;
                height: 35px;
                /* border: 2px solid rgb(127, 240, 127); */
                border: none;
                border-radius: 0px 0px 0px 10px;
                background-color: #2e2e2e;
                color: white;
                transition: 0.3s;
                font-size: 16px;
                
                &:hover {
                    /* background-color: #1d1d1d; */
                    /* box-shadow: 0px 0px 25px 0px rgba(127, 240, 127, 0.5); */
                    box-shadow: 0px 0px 10px 0px black;
                    background-color: #2e2e2e;
                    cursor: pointer;
                }
            }

            .close-popup-btn {
                width: 35px;
                height: 35px;
                border: none;
                border-radius: 0px 15px 0px 0px;
                background-color: #2e2e2e;
                color: white;
                transition: 0.3s;
                font-size: 13px;

                &:hover {
                    box-shadow: 0px 0px 10px 0px black;
                    cursor: pointer;
                }
            }
        }
    }
}

.popup.whitewon {
    opacity: 1;
    backdrop-filter: blur(10px);

    .window {
        transform: translateY(0px);
        opacity: 1;
    }
    h1 .white {
        display: inline;
    }
}

.popup.blackwon {
    opacity: 1;
    backdrop-filter: blur(10px);
    
    .window {
        transform: translateY(0px);
        opacity: 1;
    }
    h1 .black {
        display: inline;
    }
}

.popup.stalemate {
    opacity: 1;
    backdrop-filter: blur(10px);

    .window {
        transform: translateY(0px);
        opacity: 1;
    }
    h1 .stalemate {
        display: inline;
    }
}



