body {
    background-color: #1d1d1d;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}




#chessboard {
    max-width: min-content;
    height: 70vh;
    aspect-ratio: 1/1;
}